
        h2 {
            color: green;
            background-color: black;
            color: aliceblue;
        }

        #heading {
            color: aqua;
            background-color: blue;
            text-transform: uppercase;
        }

        .pzpz {
            font-style: italic;
            color: aquamarine;
            font-size: 50px;
        }

        .text-red {
            color: red;

        }

        .text.center {
            align-items: center;
        }

        .text-uppercase {
            text-transform: uppercase;
        }

        .text-big {
            font-size: 32px;
        }

        .text-big.text-red {
            color: wheat;
        }

        h2.text-big.text-red {
            color: aqua;
        }
        .box p {color: violet;}
    