/********************  BEGIN Roboto Condensed *********************/

/*********** Roboto condensed light *********/

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('roboto condensed light'), local('roboto condensed light'), url(//hstatic.net/0/0/global/design/member/fonts-master/apache/robotocondensed/robotocondensed-light.ttf) format('truetype')
}

/*********** Roboto condensed light ilatic *********/

@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 300;
    src: local('roboto condensed light italic'), local('roboto condensed light italic'), url(//hstatic.net/0/0/global/design/member/fonts-master/apache/robotocondensed/robotocondensed-lightitalic.ttf) format('truetype')
}

/*********** Roboto condensed regular *********/

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('roboto condensed regular'), local('roboto condensed regular'), url(//hstatic.net/0/0/global/design/member/fonts-master/apache/robotocondensed/robotocondensed-regular.ttf) format('truetype')
}

/*********** Roboto condensed ilatic *********/

@font-face {
    font-family: 'Roboto Condensed';
    font-style: ilatic;
    font-weight: 400;
    src: local('roboto condensed ilatic'), local('roboto condensed ilatic'), url(//hstatic.net/0/0/global/design/member/fonts-master/apache/robotocondensed/robotocondensed-italic.ttf) format('truetype')
}

/*********** Roboto condensed bold *********/

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('roboto condensed bold'), local('roboto condensed bold'), url(//hstatic.net/0/0/global/design/member/fonts-master/apache/robotocondensed/robotocondensed-bold.ttf) format('truetype')
}

/*********** Roboto condensed italic *********/

@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 700;
    src: local('roboto condensed italic'), local('roboto condensed italic'), url(//hstatic.net/0/0/global/design/member/fonts-master/apache/robotocondensed/robotocondensed-bolditalic.ttf) format('truetype')
}